:root{
    /* Colores de fondo */
    --bg-primary: rgb(2 18 96);
    --bg-selected: rgb(255, 217, 0);
    /* Color de textos */
    --t-default-color: white;
    --t-dark-color: black;
    
    /* Tamaños de fuente */
    --fz-title: 26px;
    --fz-sub-title: 22px;
    --fz-p: 20px;
    --fz-section: 22px;
    --fz-category: 18px;
    
    /*Ancho del header*/
    --w-header: 300px; 
    /* Ancho de la lista de videos cuando el usuario esta viendo un curso */
    --w-video-list: 300px;
}