@import url('./globalVariables.css');
/* BARS ICON */
.bars-container{
    display: none;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 40px;
    cursor: pointer;
    position: fixed;
    background-color: var(--bg-primary);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 90;
    transition-duration: .3s;
}
.bars-container:hover{
    color: var(--bg-selected);
    transition-duration: 0.3s;
}
/* FIN BARS ICON */
/* CLOSE ICON */
.close-container{
    display: none;
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 50px;
    color: white;
    cursor: pointer;
}
.close-container:hover{
    color: var(--bg-selected);
    transition-duration: 0.3s;
}

/* FIN CLOSE ICON */
.header-container{
    width: var(--w-header);
    height: 100vh;
    background-color:  var(--bg-primary);
    padding: 20px 0px;
    position: fixed;
    float: left;
    z-index: 100;

}

.header-top .header-logo {
    width: 100%;
    display: flex;
    justify-content: center;

}
.header-top .header-logo img{
    width: 50px;
}

/* Estilos del apartado de la seccion */
.header-section-container{
    width: 100%;
    margin-top: 25px;
}
.header-section-container li{
    list-style: none;
    padding: 5px 0px ;
}
.header-section-item a{
    text-decoration: none;
    font-size: var(--fz-section);
    color: var(--t-default-color);
}
/* Estilos del sub menu */
.h-s-sub-item-container{
    padding-left: 10px;
}
.h-s-sub-item a{
    color: var(--t-default-color);
    text-decoration: none;
    font-size: var(--fz-category) ;
}
.h-s-sub-item a:hover{
    color: var(--bg-selected);
}
/* Fin de los estilos del sub menu */

/* Fin de los estilos */

/* AQUI ESTAN LOS ESTILOS PARA EL RESPONSIVE */
@media (max-width: 1200px) {
   
}
@media (max-width: 1000px) {
    /* OCULTAMOS EL HEADER */
    .header-container{
        margin-left: -100%;
        transition-duration: 0.5s;
    }
    /* MOSTRAMOS EL ICONO DE BARS */
    .bars-container{
        display: block;
    }
    /* FIN */
    /* Mostrar el ICONO DE CLOSE */
    .close-container{
        display: block;
    }
    /* FIN */
}
/*  */