@import url('./globalVariables.css');
/******************** BARS ICON *******************+*/
.bars-container{
    /* display: none; */
    margin-top: 15px;
    font-size: 40px;
    cursor: pointer;
    position: fixed;
    background-color: var(--bg-primary);
    color: white;
    padding: 0px 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 90;
    transition-duration: .3s;
}
.bars-container:hover{
    color: var(--bg-selected);
    transition-duration: 0.3s;
}

/********************** FIN BARS ICON**************** */
/* CLOSE ICON */
.close-container{
        /* display: none; */
         position: absolute;
         top: 0;
         right: 20px;
         z-index: 100;
         /* display: none; */
         margin-left: -100%;
        transition-duration: .5s;
        transition-duration: 0.5s;
        font-size: 60px;
        color: white;
        cursor: pointer;
     }
.close-container:hover{
    color: var(--bg-selected)
}
    /* FIN CLOSE ICON */
.header{
    width: 100%;
    background-color: var(--bg-primary);
    height: 100vh;
}
.header-top{
    width: 100%;
}
.header-top .header-logo {
    width: 100%;
    display: flex;
    justify-content: center;

}
.header-top .header-logo img{
    width: 50px;
}

/* Estilos del apartado de la seccion */
.header-section-container{
    width: 100%;
    margin-top: 25px;
}
.header-section{
    padding-left: 10px;
    margin: 0;
}
.header-type{
    color: white;
    font-size: var(--fz-section);
    text-align: center;
    cursor: pointer;
    margin: 0;
}
.header-section-container li{
    list-style: none;
    padding: 5px 0px ;
    color: white;
    font-size: var(--fz-section);
    cursor: pointer;

}
.header-section-item a{
    text-decoration: none;
    /* font-size: var(--fz-section); */
    color: var(--t-default-color);
}
/* Estilos del sub menu */
.h-s-sub-item-container{
    padding-left: 10px;
}
.h-s-sub-item a{
    color: var(--t-default-color);
    text-decoration: none;
    font-size: var(--fz-category) ;
}
.h-s-sub-item a:hover{
    color: var(--bg-selected);
}
/* Fin de los estilos del sub menu */

/* Fin de los estilos */

/* AQUI ESTAN LOS ESTILOS PARA EL RESPONSIVE */
@media (max-width: 1200px) {
}
@media (max-width: 1000px) {
}
/*  */