@import url('./globalVariables.css');
/* BARS ICON */
.bars-container{
    display: none;
    margin-top: 15px;
    margin-left: 20px;
    font-size: 40px;
    cursor: pointer;
    position: fixed;
}
.bars-container svg:hover{
    color: var(--bg-primary);
    transition-duration: 0.5s;
}
/* FIN BARS ICON */
.header-container{
    width: 25%;
    height: 100vh;
    background-color:  var(--bg-primary);
    padding: 20px 0px;

}
.header{
    /* width: 25%;
    height: 100vh; */
}
.header-top .header-logo {
    width: 100%;
    display: flex;
    justify-content: center;

}
.header-top .header-logo img{
    width: 50px;
}

/* Estilos del apartado de la seccion */
.header-section-container{
    width: 100%;
    margin-top: 25px;
}
.header-section-container li{
    list-style: none;
    padding: 5px 0px ;
}
.header-section-item-a{
    text-decoration: none;
    font-size: var(--fz-sub-title);
    color: white;
}
/* Estilos del sub menu */
.h-s-sub-item-container{
    padding-left: 10px;
}
.h-s-sub-item a{
    color: white;
    text-decoration: none;
    font-size: var(--fz-medium) ;
}
/* Fin de los estilos del sub menu */

/* Fin de los estilos */

/* AQUI ESTAN LOS ESTILOS PARA EL RESPONSIVE */
@media (max-width: 1200px) {
    .header-container{
        width: 30%;
    }
}
@media (max-width: 1000px) {
    /* OCULTAMOS EL HEADER */
    .header-container{
        width: 40%;
        display: none;
    }
    /* MOSTRAMOS EL ICONO DE BARS */
    .bars-container{
        display: block;
    }
    /* FIN */
}
/*  */