@import url('./globalVariables.css');
.home-container{
    /* width: calc(100% - var(--w-header)); */
    /* width: 95%; */
    margin: 0px auto;
    /* float: right; */
    /* padding: 10px 20px; */
    z-index: 10;
}


/* ESTILOS RESPONSIVE */

@media (max-width: 1000px){
    /* .home-container{
        width: 100%;
    } */
}