.section-container{
    width: 90%;
    margin: auto;
}
.card-container{
    width: 300px;
}
.card-container:hover{
    filter: brightness(.8);
    transition-duration: .5s;
}
.card-container a{
    font-size: 10px;
}

/* Estos estilos son el complemento para la grid de bootstrap que estamos usando en la app */
@media (max-width: 1000px){
    .section-container{
        width: 100%;
        
    }
    .card-container{
        width: 250px;
    }
    .section-container .row{
        justify-content: center;
    }
}