.video-player-container{
    width: 100%;
    display: flex;
}


/* 
CUANDO EL TAMAÑO DE LA PANTALLA SEA MENOR A 1000PX  SE DEBERA DE PONER EN PANTALLA COMPLETA EL VIDEO Y MENU DESPLEGABLE DE LA LISTA
SE TRABAJAN LOS COMPONENTES DE "videoComponente" y "VideoListComponent"
*/

.video-and-list-menu{
    width: calc(100% - var(--w-video-list));
}
@media(max-width: 1000px){
    .video-player-container{
        display: block;
    }
    /* ESTILOS DE VIDEOLISTCOMPONENT */
    .video-and-list-menu{
        width: 90%;
        margin: 10px auto;
    }
    .video-list-container{
        width: 100%;
    }
    .video-list{
        max-height: 500px;
        overflow: auto;
    }
    /* FIN ESTILOS DE VIDEOLISTCOMPONENT */
}