@import url('./globalVariables.css');
.video-list-container{
    width: var(--w-video-list);
    background-color: #f7f4f4;
    float: right;
}
.video-list{
    width: 100%;
    height: 100vh;
    padding: 0;
    overflow: auto;

}
.video-list-container li{
    width: 100%;
    border-bottom: 1px solid rgb(133, 133, 133) ;
    padding: 10px;
    list-style: none;
}
.video-list-container li a {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: bold;
    color: black;
}
/* .video-list-container li a:hover {
    color: var(--bg-selected);
} */
.video-list-container li a svg{
    margin-right: 5px;
}
.active-link{
    color: var(--bg-primary) !important;
}
